*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/.kotlin
/.idea/
/captures
.externalNativeBuild
.cxx
*.log
/app/src/androidTest/java/com/application/requiemproject/ExampleInstrumentedTest.kt
/app/src/test/java/com/application/requiemproject/ExampleUnitTest.kt
*.pro
/.idea/discord.xml
/.idea
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.13/checksums/checksums.lock
/.gradle/config.properties
/.gradle/8.13/executionHistory/executionHistory.bin
/.gradle/8.13/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/8.13/fileHashes/fileHashes.bin
/.gradle/8.13/fileHashes/fileHashes.lock
/.gradle/8.13/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/8.13/fileChanges/last-build.bin
/.gradle/8.13/checksums/md5-checksums.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/8.13/fileHashes/resourceHashesCache.bin
/.gradle/8.13/checksums/sha1-checksums.bin
